body {
    background: url('../img/winter-bacground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 4em;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

h1 ~ small {
    font-size: 1.8em;
    padding-left: 20px;
    margin-top: -15px;
    display: block;
    text-shadow:    
        -2px 0 hsla(0, 100%, 100%, .5),
        0 2px hsla(0, 100%, 100%, .5),
        2px 0 hsla(0, 100%, 100%, .5),
        0 -2px hsla(0, 100%, 100%, .5);
}

hr {
    border-top: 1px dotted rgba(255,255,255,.6);
}

article {
    font-size: 1.1em;
}

.main-raise i {
    font-size: 2em;
    float: left;
    margin-right: 10px;
}

.main-raise p {
    font-size: 0.9em;
}

p {
    line-height: 1.8em;
}

#main {
    display: none;
    background-color: hsl(0, 100%, 100%);
    height: calc(100vh - 172px);
}


#content {
    display: none;
}


#page-content-wrapper {
    padding-bottom: 0;
}


.binder {
    background-color: rgb(225,225,225);
    width: 60px;
    height: 120px;
    float: left;
    margin: 2px;
    line-height: 0.5em;
}

.binder span {
    font-size: 0.7em;
    transform: rotate(-90deg);
    display: block;
    transform-origin: center bottom;
    width: 120px;
    height: 60px;
    padding: 5px;
    text-align: center;
    line-height: 1.4em;

    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.binder ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.mars {
    background-color: #BDD2E8;
}

.venus {
    background-color: #E8BDBD;
}

.shelf {
    width: 600px;
}


#sidebarContacts ul:before {
    content: attr(title);
    margin-left: -20px;
    color: #999;
    font-weight: bold;
}

#sidebarContacts ul {
    color: #999;
    list-style: none;
    line-height: 1.7em;
}

#sidebarContacts {
    display: block;
    position: absolute;
    top: 310px;
}

#backgroundAudio {
    display: block;
    position: absolute;
    top: 510px;
}

#backgroundAudio audio {
    width: 270px;
}

#backgroundAudio audio:before {
    content: attr(title);
    margin-left: -20px;
    color: #999;
    font-weight: bold;
}

@media (min-width: 1200px) {
    #sidebar-wrapper {
        width: 270px;
    }
}
